#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Conteneur principal */
.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6); /* Arrière-plan semi-transparent */
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 600px;
}

/* Style des questions */
.question {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

/* Style des options */
.options button {
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Dégradé rose-orangé */
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.options button:hover {
  background: linear-gradient(135deg, #feb47b, #ff7e5f); /* Inverse du dégradé au survol */
  transform: scale(1.1); /* Effet de zoom */
}

.options button:active {
  transform: scale(0.95); /* Effet de réduction au clic */
}

/* Timer */
.timer {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Écran de fin */
.end-screen {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.end-screen p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  font-size: 1.2rem;
  background-color: #ff7e5f;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #feb47b;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}
